
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Base
html {
    font-size: 16px;
}

body {
    font-size: 100%;
    font-family: 'Roboto', arial, sans-serif;
    background: #f9f9f9;
}


.todo {
    padding: 8px 4px;
    border-bottom: 1px solid #b0d4f1;
    margin-left: 15px;
    margin-right: 15px;
}

.todoName {
    margin-left: 10px;
    margin-right: 10px;
}

.strikethrough {
    text-decoration: line-through;
}
